# misc
/.idea
.DS_Store

# modules
/node_modules

# built package after `npm pack`
/package

# cypress
/integration/videos
/integration/downloads
/integration/screenshots
/integration/e2e/temp/
/integration/cucumber/temp/

# coverage and test reports
/reports
/.nyc_output
/coverage-nyc

# emitted
/js-files-cypress
/lib


**/allure-results/**
**/allure-report/**
/allure-results-2
/allure-results-jest
/filtered_tests.json
/res
**/debug-generate.sh


# grep
spec_pattern*.json
filter*.json

adapter-ctl.sh