# misc
/.idea
.DS_Store

# modules
/node_modules

# built package after `npm pack`
/package

# cypress
/integration/videos
/integration/downloads
/integration/screenshots
/integration/e2e/temp/

# coverage and test reports
/reports
/.nyc_output
/coverage-nyc

# emitted
/js-files-cypress
/lib

/allure-results
/allure-results-2
/allure-results-jest
/allure-report
/filtered_tests.json


# grep
spec_pattern*.json
filter*.json